<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-info" (click)="clearGame()" routerLink="/"> Zmień Gracza</button>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Gracz 1
      </div>
      <div class="card-body">
        <h5 class="card-title">{{firstPlayer}}</h5>
        <p class="card-text">
          Znak Gracza {{firstMark}}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <div>
          <p> Podaj wielkość Planszy</p>
          <mdb-range type="range" [min]="3" [max]="10" [value]="6"  [(ngModel)]="sizeGameBoard"></mdb-range>
        </div>
        <div class="btn btn-danger" *ngIf="errorSizeBoard">
          Podaj wielość planszy!
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Lista Gier {{firstPlayer}}</h5>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Data Rozgrywki</th>
            <th>Status</th>
            <th>Działanie</th>
            <th>Usuwanie</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let game of gamePlays  ">
            <td> {{game.timeGame | date }}</td>
            <td *ngIf="game.statusGame === 'OPENED'">
              <button type="button" class="btn btn-info btn-rounded" disabled>Otwarta</button>
            </td>
            <td *ngIf="game.statusGame === 'FIRST_PLAYER_WIN'">
              <button type="button" class="btn btn-success btn-rounded" disabled>Wygrana</button>
            </td>
            <td *ngIf="game.statusGame === 'SECOND_PLAYER_WIN'">
              <button type="button" class="btn btn-danger btn-rounded" disabled>Przegrana</button>
            </td>
            <td *ngIf="game.statusGame === 'DRAW'">
              <button type="button" class="btn btn-warning btn-rounded" disabled>Remis</button>
            </td>

            <td *ngIf="game.statusGame !== 'OPENED'">
              <button type="button" class="btn btn-info btn-rounded" disabled>Zakończone</button>
            </td>
            <td *ngIf="game.statusGame === 'OPENED'">
              <button type="button" class="btn btn-primary btn-rounded" (click)="continueGame(game.idGame)">Graj
              </button>
            </td>
            <td >
              <button type="button" class="btn btn-danger btn-rounded" (click)="gameDelete(game.idGame)" >Usuń</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">Gracz 2 /Komputer
      </div>
      <div class="card-body">
        <h5 class="card-title">Rozpocznij Grę</h5>
        <p class="card-text">
          Znak Gracza {{secondMark}}
        </p>
        <div class="btn btn-outline-light btn-lg m-2">

          <mdb-form-control class="form-black">
            <input mdbInput type="text" id="namePlayer" [(ngModel)]="secondPlayer" class="form-control"/>
            <label mdbLabel class="form-label" for="namePlayer">Gracz 2</label>
          </mdb-form-control>
          <hr/>
          <button type="button" class="btn btn-primary" (click)="createNewGame(secondPlayer)">Graj!</button>
        </div>
        <div class="card-footer">
          <div class="btn btn-danger" *ngIf="errorName">
            Podaj Nazwę gracza!
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Rozpocznij Grę z Komputerem</h5>
        <div class="btn btn-outline-light btn-lg m-2">
          <mdb-form-control class="form-black">
            <input [disabled]="true" mdbInput type="text" id="secondPlayer" class="form-control"/>
            <label mdbLabel class="form-label" for="secondPlayer">Komputer</label>
          </mdb-form-control>
          <hr/>
          <button type="button" class="btn btn-primary" (click)="createNewGame(playerAI)" routerLink="/game">Graj!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
