
<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
</style>

<!-- Background image -->
<div
  id="intro-example"
  class="p-5 text-center bg-image  mask">
  <div >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Kółko i Krzyżyk</h1>
        <h5 class="mb-4">Zadanie Rekrutacyjne</h5>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
