<div class="card">
  <h5 class="card-header">{{namePlayer}}</h5>
  <div class="card-body">
    <h5 class="card-title">Grasz "{{markPlayer}}"</h5>
    <button *ngIf="movement !== markPlayer" class="btn btn-primary"> Twoj ruch</button>
    <button *ngIf="movement === markPlayer" class="btn btn-info disabled"> Czekaj na ruch</button>
  </div>
</div>
