<div class="btn btn-outline-light btn-lg m-2">
  <mdb-form-control class="form-white"  >
    <input mdbInput type="text" id="namePlayer" name="name" [(ngModel)]="name" class="form-control"/>
    <label mdbLabel class="form-label" for="namePlayer">Nazwa Gracza</label>
  </mdb-form-control>
  <br>
  <button type="button" class="btn btn-primary" (click)="fetchPlayer()" >Graj!</button>
  <br>
  <div  class="btn btn-danger" *ngIf="errorFlag">
    Podaj Nazwę gracza!
  </div>
</div>
