<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Kółko i Krzyżyk</h5>
          <p class="card-text" *ngIf="gameState === 'OPENED'">
            <button class=" btn btn-danger" (click)="pauseGame()" routerLink="/">Zapisz grę</button>
          </p>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-player-card [namePlayer]="firstPlayer" [markPlayer]="firstMark" [movement]="lastMove"></app-player-card>
    </div>
    <div class="col-md-6">
      <app-player-card [namePlayer]="secondPlayer" [markPlayer]="secondMark" [movement]="lastMove"></app-player-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <div class="card text-center">
        <div class="card-header">Rozgrywka
          <div *ngIf="gameState !== 'OPENED'"
               class="shadow-5 h2  border d-flex align-items-center justify-content-center">
            <div class="btn bg-success btn-lg disabled" *ngIf="gameState === 'FIRST_PLAYER_WIN'">Wygrał
              gracz {{firstPlayer}}</div>
            <div class="btn bg-success btn-lg disabled " *ngIf="gameState === 'SECOND_PLAYER_WIN'">Wygrał
              gracz {{secondPlayer}}</div>
            <div class="btn bg-info  btn-lg disabled " *ngIf="gameState === 'DRAW'">REMIS</div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div *ngIf="gameState !== 'OPENED'"
               class="shadow-5 h2  border d-flex align-items-center justify-content-center">
            <button class=" btn bg-primary text-white " (click)="playAgain()" routerLink="/menu">Zagraj ponownie</button>
            <button class=" btn btn-danger " (click)="endGame()" routerLink="/">Koniec gry</button>
          </div>
          <div>
            <div class="d-inline" *ngFor="let field of gameBoard$ | async; let i = index ">
              <div class="btn btn-primary boxGame" (click)="checkField(i)"
                   *ngIf="field.columnGameBoard < sizeBoard && field.rowGameBoard < sizeBoard ">
                <p *ngIf="field.fieldMark === 'EMPTY'"></p>
                <p *ngIf="field.fieldMark !== 'EMPTY'">{{field.fieldMark}}  </p>
              </div>
              <div *ngIf="field.rowGameBoard  === (sizeBoard - 1)"></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

</div>




